table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, serif;
    font-size: 14px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
}

h2 {
    font-family: 'Segoe UI', sans-serif;
    color: #3d4c7e;
    margin-top: 40px;
}

.seccion1, .seccion2, .seccion3, .seccion4{
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
}

footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
